@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

*{
  font-family: 'Poppins', sans-serif;
  
}
body{
    background-color: #ffffff;
}

.hello{
    display:grid;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    color: rgb(0, 0, 0);
}

.nome{
    border: #ff0000 3px;
    background-color: #000000;
    font-family: 'Courier New', Courier, monospace;
    color: #000000;

    display:grid;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    color: rgb(47, 158, 255);
}