nav{
    border: 1px solid black;
}

.btn{
    background-color: aliceblue;
    color: black;
}

#logo{
    padding-right: 100px;
}

#login{
    margin-left: 600px;
    margin-right: 30px;
}

#sig,#login{
    border: 1px solid black;
}

.carai{
    align-items: center;
    text-align: center;
}



.team{
    text-align: center;
}

