@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

*{
  font-family: 'Poppins', sans-serif;
}

nav{
  list-style-type:none;
  margin: 0;
  padding: 0;
}

body {background-color: #C7DDFA;
  background-repeat:repeat;
  background-size: cover;
  }

  
    .logo {
      
      width: 100%;
      height: 50px;
      background-color:#ffffff;
    }

    section{
      background: rgb(255, 255, 255);
      width: 500px;
      padding: 20px;
      border-radius: 25px;
      margin: auto;
  }
  
  /****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/




  formulario{
    width: 400px;
    padding: 30px;
    border:1px #A7C9F8;
}
.formulario p{
    width: 100%;
    font-size: 1.5em;
}
.field{
    width: 100%;
    margin: 15px 0;
}
.field label, 
.field span{
    padding-left: 10px;
    font-size: 1.1em;
    display: block;
    width: 100%;
}
.radiobox label{
    width: auto;
    display: inline-block;
}
input[type=text],
input[type=email],
input[type=password],
textarea{
    width: 100%;
    padding-left: 10px;
    height: 30px;
    line-height: 30px;
    border-radius: 15px;
    border: 1px rgb(179, 227, 255);
    outline: none;
}
input#nao{
    margin-left: 30px;
}
textarea{
    line-height: 20px;
    padding: 10px;
    height: 90px;
    resize: none;
}
input[type=submit]{
    display: block;
    background-color: rgb(179, 227, 255);
    height: 35px;
    border: none;
    outline: 0;
    cursor: pointer;
    width: 100px;
    margin: 0 auto;
    text-align: center;
    border-radius: 15px;
}

#linhas{
  position:absolute;
  z-index: 1
  top


}