@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

*{
  font-family: 'Poppins', sans-serif;
}

nav{
  list-style-type:none;
  margin: 0;
  padding: 0;
}

body {background-color: #c46bff;
  
  background-size: cover;
  }

  
    .logo {
      
      width: 100%;
      height: 50px;
      background-color:#ffffff;
    }

    section{
      
      background: rgb(255, 255, 255);
      width: 500px;
      padding: 20px;
      border: 2px, black;
      border-radius: 25px;
      margin:100px 35%;
      
      
  }
  
  /****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/




  .formulario{
    width: 400px;
    padding: 30px;
    border:1px #A7C9F8;
    left: 5 0%;
}
.formulario p{
    width: 100%;
    font-size: 1.5em;
}
.field{
    width: 100%;
    margin: 15px 0;
}

.field span{
    padding-left: 10px;
    font-size: 1.1em;
    display: block;
    width: 100%;
}
.radiobox label{
    width: auto;
    display: inline-block;
}
input[type=text],
input[type=email],
input[type=password],

.textarea{
  border: 5px rgb(0, 0, 0);
  background-color: rgb(182, 182, 182);
  
    width: 90%;
    padding-left: 10px;
    height: 30px;
    line-height: 30px;
    border-radius: 15px;
    text-align: center;
    
}
input#nao{
    margin-left: 30px;
}
textarea{
    line-height: 40px;
    padding: 10px;
    height: 90px;
   
}
input[type=submit]{
    display: block;
    background-color: rgb(179, 227, 255);
    height: 35px;
    border: 1px, black;
    outline: 0;
    cursor: pointer;
    width: 100px;
    margin: 0 auto;
    text-align: center;
    border-radius: 15px;
}
#cadastrar{
    background: #5a007e;
    border-radius: 5px; padding: 14px;
    cursor: pointer;
    color: #fff;
    border: none;
    font-size: 16px;
    position: absolute;
    z-index: 1;
    top: 700px;
    left: 47%;
  }

#linhas{
  position:absolute;
  z-index: 1;
  right: 20px;
  width: 50px;


}